<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/profile.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/modal.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
<div class='dashboard'>
    <div class="dashboard-nav">
        <header>
            <a href="{{url_for('menu')}}" class="brand-logo">
                <img style="margin-right: 20px" class="img-people" src="https://cafef1.mediacdn.vn/LOGO/SNP.png" />
            </a>
        </header>
        <nav class="dashboard-nav-list">
            <a href="{{url_for('menu')}}" class="dashboard-nav-item active"><b>Trang chủ</b></a>
            <div class='dashboard-nav-dropdown'><a href="#" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><b>Quản lí</b></a>
                <div class='dashboard-nav-dropdown-menu'>
                    <a href="{{url_for('adduser')}}" class="dashboard-nav-dropdown-item">Thêm người dùng</a>
                    <a href="#" class="dashboard-nav-dropdown-item">Cập nhật toàn bộ danh sách người dùng</a>
                </div>
            </div>
<!--            <a href="#" class="dashboard-nav-item"><b> Cài đặt </b></a>-->
            <a href="{{url_for('adminInfo')}}" class="dashboard-nav-item"><b> Cá nhân </b></a>
            <div class="nav-item-divider"></div>
            <a href="{{url_for('logout')}}" class="dashboard-nav-item"><b>  Đăng xuất </b></a>
        </nav>
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'></header>
        <div class='dashboard-content'>
            <div class='container'>
                {% for category, message in get_flashed_messages(with_categories=True) %}
                  <div class="alert alert-{{category}}">{{ message }}</div>
                {% endfor %}
                <script>
                    setTimeout(function() {
                        $(".alert").fadeOut('fast');
                    }, 3000);
                </script>
                <div class='card'>
                    <div class='card-header'>
                        <h1><b>Danh sách nhân viên</b></h1>
                    </div>
                    <div class='card-body'>
                        <p>Tài khoản của bạn: {{userType}}</p>
                        <p>Tổng số nhân viên: {{users|length}} người</p>
                    </div>

                </div>
                <div style="overflow-x: auto;margin-top: 10px">
                      <table>
                          <tr>
                              <th>TT</th>
                              <th>Mã số nhân viên</th>
                              <th>Họ và tên</th>
                              <th>Bộ phận</th>
                              <th>Giới tính</th>
                              <th>Phương tiện</th>
                              <th>Vị trí công việc</th>
                              <th>Ngày tháng năm sinh</th>
                              <th>Đơn vị</th>
                              <th>Số điện thoại</th>
                              <th>Số CCCD</th>
                              <th>Dân tộc</th>
                              <th>Quốc tịch</th>
                              <th>Số nhà/ Tổ</th>
                              <th>Xã/ Phường</th>
                              <th>Quận/ Huyện</th>
                              <th>Tỉnh/TP</th>
                              <th>Nhóm đối tượng</th>
                          </tr>
                          {% for user in users %}
                            <tr>
                                <td>{% if user['tt'] != None %}{{user['tt']}}{% endif %}</td>
                                <td>{% if user['msnv'] != None %}<a href="{{url_for('user', id=user['msnv'])}}"> {{user['msnv']}}{% endif %}</a></td>
                                <td>{% if user['fullname'] != None %}{{user['fullname']}}{% endif %}</td>
                                <td>{% if user['department'] != None %}{{user['department']}}{% endif %}</td>
                                <td>{% if user['gender'] != None %}{{user['gender']}}{% endif %}</td>
                                <td>{% if user['vehicle'] != None %}{{user['vehicle']}}{% endif %}</td>
                                <td>{% if user['position'] != None %}{{user['position']}}{% endif %}</td>
                                <td>{% if user['dob'] != None %}{{user['dob']}}{% endif %}</td>
                                <td>{% if user['sector'] != None %}{{user['sector']}}{% endif %}</td>
                                <td>{% if user['tel'] != None %}{{user['tel']}}{% endif %}</td>
                                <td>{% if user['id_card'] != None %}{{user['id_card']}}{% endif %}</td>
                                <td>{% if user['ethnic'] != None %}{{user['ethnic']}}{% endif %}</td>
                                <td>{% if user['nationality'] != None %}{{user['nationality']}}{% endif %}</td>
                                <td>{% if user['address'] != None %}{{user['address']}}{% endif %}</td>
                                <td>{% if user['ward'] != None %}{{user['ward']}}{% endif %}</td>
                                <td>{% if user['district'] != None %}{{user['district']}}{% endif %}</td>
                                <td>{% if user['city'] != None %}{{user['city']}}{% endif %}</td>
                                <td>{% if user['target_group'] != None %}{{user['target_group']}}{% endif %}</td>
                            </tr>
                          {%  endfor %}
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const mobileScreen = window.matchMedia("(max-width: 990px )");
    $(document).ready(function () {
        $(".dashboard-nav-dropdown-toggle").click(function () {
            $(this).closest(".dashboard-nav-dropdown")
                .toggleClass("show")
                .find(".dashboard-nav-dropdown")
                .removeClass("show");
            $(this).parent()
                .siblings()
                .removeClass("show");
        });
        $(".menu-toggle").click(function () {
            if (mobileScreen.matches) {
                $(".dashboard-nav").toggleClass("mobile-show");
            } else {
                $(".dashboard").toggleClass("dashboard-compact");
            }
        });
    });
</script>
</body>
</html>